@model HB2.ViewModels.Mod1
@{
    ViewBag.Title = "Cовершить Операцию";
}
<div class="container">
    <form asp-action="Make" asp-controller="home">
        <input type="hidden" asp-for="p.OperationId" value=@Model.Id />
        <div class="form-group" >
            <label asp-for="p.Name" class="control-label">Имя</label>
            <input type="text" asp-for="p.Name"  value="@Model.Operation.Name" class="form-control"  />
        </div>
        <div class="form-group" >
            <label asp-for="p.NameAct" class="control-label">Действие</label>
            <input type="text" asp-for="p.NameAct" value="@Model.Operation.NameAct"  class="form-control"  />
        </div>
        <div class="form-group" >
            <label asp-for="p.Sum" class="control-label">Сумма</label>
            <input type="number" asp-for="p.Sum" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="p.Data" class="control-label">Дата</label>
            <input type="datetime-local" asp-for="p.Data" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="p.Coment" class="control-label">Комент</label>
            <input type="text" asp-for="p.Coment" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Совершить" class="btn btn-default" />
        </div>
    </form>
</div>