@model HB2.ViewModels.RedactPl
@{
    ViewBag.Title = "Операции";
}


<div class="container">
    <div>
         
        <a asp-action="AddOperation" asp-controller="home" asp-route-id=@Model._Id class="btn btn-outline-success btn-sm active" role="button" aria-pressed="true">Добавить операцию</a>
    </div>
    <div id="table">
        <h5>Операции</h5>
        <table class="table">

            <tr><td>Название</td><td>Период выполнения</td><td>Процент выполнения</td></tr>
            @foreach (var i in Model.Opers)
            {
                <tr><td>@i.Name</td><td>@i.NameAct</td><td>@i.Sum</td><td>@i.PlanId</td><td><a asp-action="RedactOper" asp-controller="Home" asp-route-id=@i.Id>Редактировать операцию</a></td><td><a asp-action="MakeOp" asp-controller="Home" asp-route-id=@i.Id>Совершить операцию</a></td></tr>
            }
        </table>
    </div>
</div>