@model  IQueryable<HB2.Models.P>
    @{
    ViewBag.Title = "Совершонные Операции";
    }


    <div class="container">
        <div><a asp-action="Index" asp-controller="home">Актуальные операции</a></div>
        <div>
            <h5>Совершонные Операции</h5>
            <table class="table">

                <tr><td>Название</td><td>Действие</td><td>Дата</td><td>Сумма</td></tr>
                @foreach (var i in Model)
                {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.NameAct</td>
                    <td>@i.Data</td>
                    <td>@i.Sum</td>
                </tr>
                }
            </table>
        </div>
    </div>