@model HB2.ViewModels.RedactPl
@{
    ViewBag.Title = "Совершонные Операции";
}


<div class="container">
    <a asp-action="Make" asp-controller="home"  asp-route-id=@Model._Id class="btn btn-outline-success btn-sm active" role="button" aria-pressed="true">Добавить</a>
    <div>
        <h5>Совершонные Операции</h5>
        <table class="table">

            <tr><td>Название</td><td>Действие</td><td>Дата</td><td>Сумма</td></tr>
            @foreach (var i in Model.ps)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.NameAct</td>
                    <td>@i.Data</td>
                    <td>@i.Sum</td>
                </tr>
            }
        </table>
    </div>
</div>